body {
    background-image: url("../media/glove.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
    padding-bottom: -1%;
}

body.menu {
    background-image: url("../media/drink-7068737_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
    padding-bottom: -1%;
}

h1 {
    color:rgb(241, 208, 192);
}

p {
    color:rgb(241, 208, 192);
    text-align: left;
    padding-left: 30px;
    padding-top: 25px;
}

#navcolor {
    color: rgb(211, 186, 137);
    font-size: large;
}

#toggler {
    background-color: antiquewhite;
}

.list {
    font-weight: 300;
    color: rgb(241, 208, 192);
    padding-left: 20px;
    padding-top: 10px;
    text-align: justify;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: rgb(241, 208, 192);
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: rgb(241, 208, 192);
}

.dark-bg {
    background-color: rgb(241, 208, 192);
}

.main-bg {
    background-color: rgb(241, 208, 192);
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.author {
    color: rgb(207, 188, 188);
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    color: rgb(241, 208, 192); 
    background-color: rgb(207, 188, 188)acf;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #bdc1c5;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #d3d8dd;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: rgb(207, 188, 188);
}
.btn-signup {
    background-color: #d5d8d8;
    color: rgb(207, 188, 188);
}

.btn-signup:hover,
.btn-signup:active {
    background-color: rgb(207, 188, 188);
    color: #bec6c6;
}

.link {
    color: #eff9f9;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: rgb(207, 188, 188);
    text-decoration: underline;
}

.row {
    color:rgb(241, 208, 192);
    text-align: left;
    padding-top: 40px;
    padding-left: 50px;
}

.row-2 {
    color:rgb(241, 208, 192);
    text-align: left;
    padding-top: 20px;
    padding-left: 30px;
}

.login {
    color:rgb(241, 208, 192);
}

.content-part-3 { 
    padding-top: 0%;
    padding-left: 25%;
}

.content-part-3-inner { 
    padding:10px 0px;
}

.content-part-3-right-h4 { 
    font-weight:600; 
    color:rgb(241, 208, 192); 
    padding:0px;
}

.descriptions {
    color: rgb(241, 208, 192);
    padding-left: 40px;
    padding-top: 60px;
}

.instructions {
    color: rgb(241, 208, 192);
    padding-left: 20px;
    padding-bottom: 10px;
    text-align: center;
}

.home {
    color: rgb(241, 208, 192);
    padding-top: 70px;
    padding-left: 50px;
}

.container {
    padding-top: 40px;
}

#reg {
    background-color: rgb(241, 208, 192);
    opacity: .8;
    border-radius: 10%;
    border: 2px solid black;
}

.confirmation {
    color:rgb(241, 208, 192);
    padding-top: 50px;
    padding-left: 30px;
}


@media only screen and (min-width:320px) and (max-width:480px){
	.img{ width:100%;}
    .content-part-3-right-h4{text-align: center;}
    .descriptions, h1{color: rgb(241, 208, 192);font-size: larger;}
	}


@media only screen and (min-width:600px) and (max-width:768px){
	.img{ width:96%; border-radius:3px;}
	.content-part-3-right-h4{ font-weight:600; color:rgb(241, 208, 192); padding:5px 0px 0px; text-align: center;}
	}
