body {
    background-image: url("../media/glove.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
    padding-bottom: -1%;
}

.menu {
    background-image: url("../media/drink.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
    padding-bottom: -1%;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: rgb(200, 184, 184);
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: rgb(207, 188, 188);
}

.dark-bg {
    background-color: rgb(207, 188, 188);
}

.main-bg {
    background-color: rgb(207, 188, 188);
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: rgb(207, 188, 188);
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #c5cacf;
    color: rgb(207, 188, 188);
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #bdc1c5;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #d3d8dd;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: rgb(207, 188, 188);
}

.btn-signup {
    background-color: #23BBBB;
    color: rgb(207, 188, 188);
}

.btn-signup:hover,
.btn-signup:active {
    background-color: rgb(207, 188, 188);
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #93979b;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.text-white {
    color: rgb(207, 188, 188);
}

.navbar-text {
    text-align: center;
    color: rgb(207, 188, 188);
}

.footer {
    text-align: right;
    color: rgb(207, 188, 188);
}

.row {
    color: rgb(207, 188, 188);
    text-align: center;
}

.content-part-3 { 
    padding-top: 0%;
    padding-left: 25%;
}

.content-part-3-inner { 
    padding:10px 0px;
}

.content-part-3-right-h4 { 
    font-weight:600; 
    color:rgb(168, 157, 157); 
    padding:0px;
}

.descriptions {
    color: rgb(200, 184, 184);
    padding-left: 20px;
    padding-top: 25px;
}

.instructions {
    color: rgb(200, 184, 184);
    padding-left: 20px;
    padding-bottom: 10px;
    text-align: center;
}

.home {
    color:rgb(207, 188, 188);
    padding-top: 50px;
    padding-left: 30px;
}

.input {
    background-color: rgb(207, 188, 188);
    opacity: 0.5;
    border-radius: 10%;
    border: 2px solid black;
}

.confirmation {
    color:rgb(207, 188, 188);
    padding-top: 50px;
    padding-left: 30px;
}

@media only screen and (min-width:320px) and (max-width:480px){
	.img{ width:100%;}
	}

@media only screen and (min-width:600px) and (max-width:768px){
	.img{ width:96%; border-radius:3px;}
	.content-part-3-right-h4{ font-weight:600; color:rgb(207, 188, 188); padding:5px 0px 0px;}
	}
