{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="instructions">
        <div class="col-md-8 mt-3 offset-md-2">
            <h1>Want to visit Us?</h1>
            <p>To request a reservation,
               select any date Wed-Sat
               and await a confirmation email</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <form id="GuestInfo" action="/confirmation/" method="POST"> 
              {% csrf_token %}
              <div class="elem-group">
                <label for="BookingName">{{ BookingName }}</label>
                <input id="reg" type="text" id="Guests" name="Guests" placeholder="Reservation name" pattern=[A-Z\sa-z]{3,20} required>
              </div>
              <div class="elem-group">
                <label for="Email">{{ Email }}</label>
                <input id="reg" type="email" id="Email" name="Email" placeholder="youremail@email.com" required>
              </div>
              <div class="elem-group inlined">
                <label for="Guests">{{ Guests }}</label>
                <input id="reg" type="number" id="Guests" name="Guests" placeholder="Number of Guests" min="1" required>
              </div>
              <div class="elem-group inlined">
                <label for="Day">{{ DAY }}</label>
                <input id="reg" type="date" id="Day" name="Day" min="2022-01-01" max="2024-12-31" required>
              </div>
              <hr>
              <button id="reg" type="submit">Book Your Reservation</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}