{% extends "base.html" %}

{% block content %}
    
    <div class="row">
        <div class="content-part-3">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="row content-part-3-inner">
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <div class="content-part-3-right-h4 descriptions">Red Stag Classic</div>
                        <div class="descriptions">Price 60 sek</div>
                        <p class="descriptions">Sweet sip with a little kick. Red-cherry Bourbon, sure to please.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="row2 content-part-3-inner">
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <div class="content-part-3-right-h4">Glenfiddich</div>
                        <div class="price">Price : <i class="green"><span class="fa fa-inr"></span>70 sek</i></div>
                        <p class="descriptions">Classic whiskey, light with a hint of vanilla.</p> 
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="row2 content-part-3-inner">
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <div class="content-part-3-right-h4">Bowmore</div>
                        <div class="price">Price : <i class="green"><span class="fa fa-inr"></span>90 sek</i></div>
                        <p class="descriptions">A smokey favorite, sure to make you warm.</p>
                    </div>
                </div>
            </div>
            <div id="row2" class="col-md-6 col-sm-12 col-xs-12">
                <div class="row content-part-3-inner">
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <div class="content-part-3-right-h4">Bar Snacks</div>
                        <div class="price">Price : <i class="green"><span class="fa fa-inr"></span>40 sek per portion/-</i></div>
                        <p class="descriptions"> A selection of nuts, cheese, meats, and bread perfect with whiskey pairings.</p>
                    </div>
                </div>
            </div> 
        </div>
    </div>

</body>

    {% endblock %}